.menu-page{
    display: flex;
    }
#texture{
width: 500px;
height: 100px;
}










/* Hero Style for Breakfast
.breakfast-hero {
    text-align: center;
    padding: 60px 20px 30px;
    background: #fff5e5;
  }
  
  .breakfast-hero h1 {
    font-size: 2.8rem;
    color: #6a3c1f;
    margin-bottom: 10px;
  }
  
  .breakfast-hero p {
    font-size: 1.1rem;
    color: #7b5d40;
  }
   */