.reservation-picture{
    background-image: url('images/reserv-flower (1).jpg');
    background-repeat: no-repeat;
    background-size: 100% 900px;
    padding-bottom: 300px;
    background-color: black; 
    filter: brightness(0.5);

}
.reservations{
    display: flex;
    gap:0.1%
}
.reservation-picture{
    width: 50%;
}

#ankole-logo{
margin-left: 270px;
}

#highlighted-word{
    color: white;
    text-align: center;
    font-size: 50px;
}

#highlighted-word-1{
    color: rgb(228, 12, 12);
    text-align: center;
    font-size: 70px;
    margin-top: -40px;
}

.reservation-form{
    border-style: solid;
    width: 50%;
    height: 930px;
    background-color: black;
}

.reservation-container{
  height: 20px;
  border-style: solid;
  margin-left: 50px;

  border-color: rgb(8, 8, 8);
  height: 630px;
  width: 800px;
  margin-top: 130px;
  border-radius: 15px;
  
}
.name-input{
    margin-top: 10px;
    height: 90px;
}

#name-1{
color: white;
margin-left: 40px;
margin-top: 20px;
}

#name{
    width: 90%;
    height: 30px;
    margin-left: 40px;
    margin-top: 10px;
    background-color: black;
    border-color: rgb(126, 119, 119);
}
.address-input{
    margin-top: -10px; 
}
#address-1{
    color: white;
    margin-left: 40px;
    margin-top: 20px   
    
}
#address{
    width: 90%;
    height: 30px;
    margin-left: 40px;
    margin-top: 10px;
    background-color: black;
    border-color: rgb(126, 119, 119);
}
.email-input{
    margin-top: 11px;
}

#email-1{
color: white;
margin-left: 40px;
margin-top: 20px;
}

#email{
    width: 90%;
    height: 30px;
    margin-left: 40px;
    margin-top: 10px;
    background-color: black;
    border-color: rgb(126, 119, 119);
}

.phone-input{
    margin-top: 10px;
}

#phone-1{
color: white;
margin-left: 40px;
margin-top: 20px;
}

#phonenumber{
    width: 90%;
    height: 30px;
    margin-left: 40px;
    margin-top: 10px;
    background-color: black;
    border-color: rgb(126, 119, 119);
}

.guste-input{
    margin-top: 10px;
}

#gustes{
color: white;
margin-left: 40px;
margin-top: 20px;
}

#number{
    width: 90%;
    height: 30px;
    margin-left: 40px;
    margin-top: 10px;
    background-color: black;
    border-color: rgb(126, 119, 119);
}

.date-input{
    margin-top: 10px;
}

#date-1{
color: white;
margin-left: 40px;
margin-top: 20px;
}

#date{
    width: 90%;
    height: 35px;
    margin-left: 40px;
    margin-top: 10px;
    color: white;
    background-color: rgb(41, 40, 40);
    border-color: rgb(126, 119, 119);

}
.time-input{
    margin-top: 10px;
}

#time-1{
color: white;
margin-left: 40px;
margin-top: 20px;
}

#time{
    width: 90%;
    height: 40px;
    margin-left: 40px;
    margin-top: 10px;
    color: white;
    background-color: rgb(71, 68, 68);
    border-color: rgb(194, 191, 191);

}
#submit-button{
width: 90.6%;
margin-left: 40px;
margin-top: 20px;
height: 50px;
border-radius: 15px;
background-color: rgb(226, 189, 110);
}

.naviagations{
    position: relative;
    display: flex;
    border-style: solid;
    width: 650px;
    border-radius: 40px;
    height: 60px;
    color: white;
    background-color: black;
    border-color: rgb(10, 8, 8);
    margin-top: -120px;
    margin-left: 550px;
    text-decoration: none;
    i{
      margin-left: 10px;
      margin-top: 20px;
      cursor: pointer;
      }
    }
    
  .main-navigation{
    display: flex;
    gap: 7%;
    font-size: 15px;
    margin-left: 30px;
    margin-top: 20px;
    cursor: pointer;
    a{
      text-decoration: none;
      color: white;
      } 
    }
    
    #centered{
      border-style: solid;
      padding: 12px;
      margin-left: -9px;
      border-radius: 15px;
      background-color: beige;
      color: black;
    }
    
  .first-tab{
     position: relative;
     margin-left: 20px;
     color: white;
     cursor: pointer;
    }
  
  .dropup {
      display: none;
      position: absolute;
      bottom: 80px; 
      left: -15px;
      background-color: #0e0d0d;
      min-width: 210px;
      z-index: 1;
      padding-left: 2px;
      border-style: solid;
      border-radius: 9px;
      border-color: black;
    }
    
    .dropup a {
        color: white;
        padding: 8px 12px;
        display: block;
        text-decoration: none;
        background-color: black;
      }
    
    .dropup a:hover {
        background-color: #757373;
      }
    
    .first-tab:hover .dropup {
        display: block;
      }
    
    .second-tab{
        position: relative;
        margin-left: 20px;
        color: white;
        cursor: pointer;
      }
    
    .dropup-2{
        display: none;
        position: absolute;
        bottom: 70px;  
        left: 0;
        background-color: #f5efef;
        min-width: 215px;
        z-index: 1;
        border-radius: 9px;
        padding-left: 15px;
        color: black;
    }
  
    h4{
      font-size: 18px;
      }
  
    h3{
        font-size: 17px;
        font-weight: lighter;
      }
      
    .dropup-2 p {
        color: black;
        display: block;
      }
    
    .dropup-2 a:hover {
        background-color: #080808;
      }
    
      .second-tab:hover .dropup-2{
        display: block;
      }
      #whats-up{
        position: relative;
        width: 40px;
        margin-left: 180vb;
        border-radius: 210px;
        margin-top: -200px;
      }